.about-page {
  flex: 1;
  display: flex;
  align-items: center;
  max-width: 60rem;
  width: 100%;
  margin: 5rem auto;
}

.about-card {
  gap: var(--spacing-m);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-section {
  gap: var(--spacing-m);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.link {
  color: var(--color-bg-secondary);
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  transition: color var(--transition-normal) ease;

  &:hover {
    color: var(--color-secondary-light);
  }
}
