.pagination-controls {
  display: flex;
  align-items: center;
  flex-direction: space-around;
  gap: var(--spacing-m);
  button {
    border: 1px solid transparent;
    box-shadow: 0 0.1rem 0.3rem var(--color-shadow);
  }
}
