.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-m);
  max-width: var(--max-width-content);
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--spacing-m);
  &-section {
    display: flex;
    gap: var(--spacing-m);
  }
}

.nav-link {
  text-decoration: none;
  color: var(--color-secondary-light);
  font-size: 1.2rem;
  font-weight: var(--font-weight-bold);
  transition: color var(--transition-fast) ease;
  &:hover {
    color: var(--color-primary-dark);
    opacity: 0.7;
  }
}

.nav-link_active {
  color: var(--color-primary-dark);
  font-weight: var(--font-weight-bold);
}

.btn {
  background-color: transparent;
  border: 1px solid var(--color-secondary-light);
  padding: 0.3rem 1rem;
  font-size: 1rem;
  &:hover {
    border: 1px solid var(--color-primary-dark);
  }
}
