.search-wrap {
  position: fixed;
  display: flex;
  width: 100%;
  display: flex;
  justify-content: center;
  background: var(--color-secondary-bg);
  z-index: 100;
  padding: 0.5rem 1rem 0.7rem 1rem;
}

.search {
  height: 2.5rem;
  width: 100%;
  max-width: var(--max-width-content);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-m);
}

.search-form_input {
  height: 100%;
  width: 50%;
  padding: 0 2rem;
  font-size: 1rem;
  border: none;
  outline: none;
  transition: var(--transition-slow);
  background-position: 0.5rem center;
  background-color: var(--color-secondary-light);
  border-radius: var(--border-radius);

  &:focus {
    transform: scale(1.02);
  }

  &:active,
  &:hover,
  &:focus {
    outline: none;
    outline-offset: none;
  }
}

.search-button {
  height: 2.5rem;
  width: 3rem;
  border: none;
  outline: none;
  transition: var(--transition-slow);
  background-image: url(/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--color-secondary-light);
}
