.wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;

  &_content {
    max-width: 80rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;
  }
}

.nav {
  display: flex;
  gap: 2rem;
  justify-content: center;

  &-btn {
    background: var(--bg-light);
    border: none;
    outline: none;
    padding: 12px 24px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;

    &:hover {
      color: #ffffff;
      background: rgba(255, 255, 255, 0.268);
    }

    &.active {
      color: #ffffff;
      background: var(--color-accent);
      box-shadow: 0 0 15px rgba(82, 196, 26, 0.4);

      &:hover {
        background: var(--color-accent-hover);
      }
    }
  }
}
