.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-m);
  max-width: var(--max-width-content);
  width: 100%;
  padding: 0 2rem 2rem 2rem;
}

.cards-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
  margin: 5rem auto;
  gap: var(--spacing-xl);
  width: 100%;
}
